<ng-container *ngIf="nuevoPlato;else noPlato">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> {{nuevoPlato.title}} </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{nuevoPlato.image}} " alt="Plato de comida">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Volver</button>
            <button mat-button>Añadir Plato</button>
        </mat-card-actions>
      </mat-card> 

</ng-container>

<ng-template #noPlato>
    Cargando plato...
    <mat-spinner></mat-spinner>
</ng-template>
